---
UseTab: Never
TabWidth: '4'
IndentWidth: '4'
BasedOnStyle: Google
AccessModifierOffset: -4
ColumnLimit: 240
NamespaceIndentation: All
IndentPPDirectives: BeforeHash
FixNamespaceComments: false
DerivePointerAlignment: false
AlignArrayOfStructures: Left
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: BlockIndent
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLoopsOnASingleLine: true

...
